/* @group Layout Colours */

#bar,
.photo-navigation,
.movie-title {
	background-color: #224A10;
}

#pageHeader #title {
	background-color: #224A10;
}

#pageHeader h1,
#pageHeader h2 {
	text-shadow: 0px -1px 0px #142C09;
}

#footer {
	background-color: #224A10;
}

#footer p {
	text-shadow: 0px -1px 0px #142C09;
}

#breadcrumbcontainer li {
	color: #17330B;
}

/* @end */

/* @group Content Colours */
	
body,
.blog-entry-body,
.blog-entry-date,
.blog-entry {
	color: #000000;
}


#sidebarContainer .sideHeader,
#sidebarContainer #sidebar h1,
#sidebarContainer #sidebar h2,
#sidebarContainer #sidebar h3 {
	color: #224A10;
}

#sidebarContainer {
	color: #A6A6A6;
}

#sidebarContainer #sidebar a,
#breadcrumbcontainer,
a:link, a:visited {
	color: #224A10;
}

h1, h2, h3, h4, h5,
h1.blog-entry-title a,
.blog-archive-headings-wrapper,
.album-title,
.photo-title,
.movie-page-title {
	color: #990000;
}



/* @end */

/* @group Navbar */

#navcontainer a {
	color: #000000;
}

#navcontainer a:hover,
#navcontainer #current,
#navcontainer .currentAncestor,
#sidebarContainer #sidebar a:hover,
.photo-navigation a:hover,
a:hover, a:active,
form,
h1 {
	color: #224A10;
}

#navcontainer ul ul a:hover,
#navcontainer ul ul #current,
#navcontainer ul ul .currentAncestor {
	background: #224A10;
	color: #fff;
	border-bottom-color: #224A10;
}



/* @end */