#sidebarContainer {
	float: left;
	width: 200px;
}

#sideTitleOuter {
	width: 200px;
}

#navOuter {
	width: 200px;
}

#sidebarBodyOuter{
	width: 200px;
	float: left;
}

#content {
	margin-left: 215px;
}