#sidebarContainer {
	float: right;
	width: 300px;
}

#sideTitleOuter {
	width: 300px;
}

#navOuter {
	width: 300px;
}

#sidebarBodyOuter{
	width: 300px;
	float: right;
}

#content {
	margin-right: 315px;
}