<!DOCTYPE html>
<html lang="en-CA">

<head>
    <link rel="stylesheet" href="{{ config.base_url | safe }}/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block head %}
    {% endblock head %}
    {% block head_title %}<title>Life Deserves Ceremonies</title>{% endblock head_title %}
    {% block head_meta %}<meta name="description" content="Suzanne Peters is a Humanist officiant performing non-religious ceremonies near Perth, Ontario." />{% endblock head_meta %}
</head>

<body>
    <header>
        <nav>
            <ul>{% block nav %}
                <li><a href="{{ config.base_url | safe }}/">Home</a></li>
                <li><a href="{{ config.base_url | safe }}/about-me/">About Me</a></li>
                <li><a href="{{ config.base_url | safe }}/services/">Services</a></li>
                <li>Photo Gallery</li>
                <li><a href="{{ config.base_url | safe }}/contact-me/">Contact Me</a></li>
                <li><a href="{{ config.base_url | safe }}/qa/">Q&amp;A</a></li>
            {% endblock nav %}</ul>
        </nav>

        <a href="{{ config.base_url | safe }}"><img alt="Life Deservers Ceremonies"
                src="{{ config.base_url | safe }}/ldc_header.jpg" /></a>
    </header>
    <main>
        <nav>{# go_child_menu(); #}</nav>

        {% block content %}{% endblock %}
        
    </main>
    
    <footer>
        <p>613-206-4818 ~ <a href="mailto:suzanne@lifedeservesceremonies.com">email</a></p>
    </footer>
</body>

</html>