{% extends "base.html" %}

{% block content %}
<p style="text-align: center;"><strong>Suzanne Peters&nbsp;—&nbsp;Humanist Officiant for the Perth</strong></p>

<div class="col2">
    <section>
        {{ section.content | safe }}
    </section>
    <section>
        <script type="text/javascript" src="https://cdn1.weddingwire.ca/js/wp-widget.js"></script>
        <div id="wp-widget-reviews">
            <div id="wp-widget-preview">Read <a href="https://www.weddingwire.ca/wedding-officiants/life-deserves-ceremonies--e20985/reviews">View reviews:</a> in &nbsp; <a href="https://www.weddingwire.ca"> <img height="20" src="https://cdn1.weddingwire.ca/assets/img/logos/gen_logoHeader.svg" /> </a></div>
        </div>
        <script>wpShowReviews(20985, "white");</script>
    </section>
</div>

{% endblock content %}