:root {
    --ldc-green: rgb(34, 74, 16);
}

header {
    max-width: 901px;
    margin: 0 auto;
}

header img {
    border-radius: 50px 50px 0px 0px;
    height: auto;
    width: 100%;
}


main {
    max-width: 901px;
    margin: 0 auto;
    font-size: large;
    line-height: 150%;
    color: rgb(34, 74, 16);
    font-family: 'Lucida Grande', Lucida, Verdana, sans-serif;
    text-align: left;
}

footer {
    font-size: medium;
    text-align: right;
    clear: both;
    border-top: 3px solid var(--ldc-green);
    text-align: center;
}



main nav p {
    border-bottom: solid 1px white;
    font-weight: bold;
}



a:any-link {
    color: rgb(60, 84, 157);
}


header nav ul {
    text-align: right;
}

header nav li {
    border-right: solid 1px black;
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

header nav li:last-of-type {
    border-right: none;
}

header nav a:any-link {
    text-decoration: none;
    color: black;
}



main nav {
    padding: 5px;
    border: dotted 2px white;
    background-color: rgb(34, 74, 16);
}

main nav a:any-link {
    color: white;
    text-decoration: none;
}

main nav p {
    margin: 0px;
    padding: 0px;
    color: white;
}

main nav > ul {
    list-style-type: none;
    padding-left: 0;
}

main nav > ul ul {
    padding-left: 1em;
}



h1 {
    font-family: Satisfy;
    font-weight: normal;
}

aside {
    float: right;
    margin: 1em;
    clear: both;
}

div#faq-header {
    border-bottom: solid 1px black;
}

div#faq-body ul,
div#faq-body li {
    list-style-type: none;
    margin: none;
    padding: 0;
}


div.faq-question {
    font-weight: bold;
    margin-top: 0em;
}









div.field {
    margin-top: 1em;
    vertical-align: top;
}

div.field input,
div.field textarea {
    -webkit-appearance: none;
    -webkit-border-image: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(153, 153, 153);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(153, 153, 153);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(153, 153, 153);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(153, 153, 153);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(51, 51, 51);
    cursor: auto;
    display: inline-block;
    font-family: Arial;
    font-size: 19px;
    height: 23px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    outline-color: rgb(229, 151, 0);
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1px;
    text-align: start;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    width: 49%;
    word-spacing: 0px;
    writing-mode: lr-tb;
}

div.field textarea {
    height: 6em;
}

div.textarea input {
    display: block;
}

div.textarea textarea {
    display: block;
    margin-left: 26%;
}

div.field div.label {
    display: inline-block;
    width: 25%;
    text-align: right;
}

form input.submit {
    -webkit-appearance: push-button;
    -webkit-border-image: none;
    -webkit-box-align: center;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: outset;
    border-bottom-width: 2px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: outset;
    border-left-width: 2px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: outset;
    border-right-width: 2px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: outset;
    border-top-width: 2px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: default;
    display: block;
    font-family: Arial;
    font-size: 19px;
    height: 29px;
    letter-spacing: normal;
    line-height: normal;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 1px;
    text-align: center;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    white-space: pre;
    width: 75px;
    word-spacing: 0px;
    writing-mode: lr-tb;
}




@media (min-width: 600px) {
    
    /* services, sub pages */
    main nav {
        float: right;
        margin-left: 1em;
    }

    /* index */
    div.col2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }
}